<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= web_set.head.description %>">
  <meta name="author" content="<%= web_set.head.author %>">
  <meta name="keywords" content="<%= web_set.head.keywords %>">
  <meta property="og:site_name" content="<%= web_set.head.site_name %>">
  <meta property="og:title" content="Profile - <%= web_set.head.title %>">
  <meta property="og:url" content="<%= web_set.head.domain %>">
  <meta property="og:image" content="<%= web_set.head.image %>">
  <meta property="og:image:type" content="<%= web_set.head.image_type %>">
  <meta property="og:image:alt" content="<%= web_set.head.image_alt %>">
  <meta property="og:description" content="<%= web_set.head.description %>">
  <title>Profile - <%= web_set.head.title %></title>
  <link rel="shortcut icon" type="image/png" href="<%= web_set.head.favicon %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">
  <link rel="stylesheet" href="/assets/css/tailwind.output.css">

  <!-- Mondiad area -->
  <meta name="mnd-ver" content="<%= web_set.ads.verify %>" />
  <script async src="https://ss.mndsrv.com/banner.js"></script>
  <script async src="https://ss.mndsrv.com/native.js"></script>
</head>

<body>
  <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
    <aside class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0">
      <div class="py-4 text-gray-500 dark:text-gray-400">
        <a class="ml-6 text-lg font-bold text-gray-700 dark:text-gray-200" href="#"><%= web_set.body.header.name %></a>
        <h4 class="text-sm text-gray-700 dark:text-gray-200 font-semibold mt-4 ml-6">Pages</h4>
        <ul class="mt-2">
          <li class="relative px-6 py-3">
            <a href="/" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
              </svg>
              <span class="ml-4">Home</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/dashboard" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
              </svg>
              <span class="ml-4">Dashboard</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a href="/profile" class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100">
              <i class="fa fa-fw fa-user text-gray dark:text-gray-400"></i>
              <span class="ml-4">Profile</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/plans" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-money-check-alt text-gray dark:text-gray-400"></i>
              <span class="ml-4">Plans & Pricing</span>
            </a>
          </li>

          <h4 class="text-sm text-gray-700 dark:text-gray-200 font-semibold mt-2 ml-6">API Features</h4>
          <li class="relative px-6 py-3">
            <a href="/downloader" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-download text-gray dark:text-gray-400"></i>
              <span class="ml-4">Downloader</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/searcher" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-search text-gray dark:text-gray-400"></i>
              <span class="ml-4">Searcher</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/stalker" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-user-check text-gray dark:text-gray-400"></i>
              <span class="ml-4">Stalker</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/artificial-intelligence" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-robot text-gray dark:text-gray-400"></i>
              <span class="ml-4">Artificial Intelligence</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/canvas" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-image text-gray dark:text-gray-400"></i>
              <span class="ml-4">Canvas</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/maker" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-edit text-gray dark:text-gray-400"></i>
              <span class="ml-4">Maker</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/photooxy" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-image text-gray dark:text-gray-400"></i>
              <span class="ml-4">PhotoOxy</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/random-image" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-images text-gray dark:text-gray-400"></i>
              <span class="ml-4">Random Image</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/check-nickname" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-check-circle text-gray dark:text-gray-400"></i>
              <span class="ml-4">Check Nickname</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/url-shortener" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-link text-gray dark:text-gray-400"></i>
              <span class="ml-4">URL Shortener</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/converter" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-sync text-gray dark:text-gray-400"></i>
              <span class="ml-4">Converter</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/tools" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-tools text-gray dark:text-gray-400"></i>
              <span class="ml-4">Tools</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/all-features" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-list-alt text-gray dark:text-gray-400"></i>
              <span class="ml-4">All Features</span>
            </a>
          </li>
          <li class="hidden relative px-6 py-3">
            <button class="inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" @click="togglePagesMenu" aria-haspopup="true">
              <span class="inline-flex items-center">
                <i class="fas fa-download text-lg text-gray dark:text-gray-400"></i>
                <span class="ml-4">Downloader</span>
              </span>
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <template x-if="isPagesMenuOpen">
              <ul x-transition:enter="transition-all ease-in-out duration-300" x-transition:enter-start="opacity-25 max-h-0" x-transition:enter-end="opacity-100 max-h-xl" x-transition:leave="transition-all ease-in-out duration-300" x-transition:leave-start="opacity-100 max-h-xl" x-transition:leave-end="opacity-0 max-h-0" class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900" aria-label="submenu">
                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                  <a href="/api/downloader/youtube-video?video_url=https://youtu.be/rKt_RuVmBkA&api_key=<%= user.api_key %>" class="w-full">YouTube Video</a>
                </li>
                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                  <a href="/api/downloader/youtube-audio?video_url=https://youtu.be/rKt_RuVmBkA&api_key=<%= user.api_key %>" class="w-full">YouTube Audio</a>
                </li>
              </ul>
            </template>
          </li>
        </ul>
        <% if (user.account_type === "Premium" || user.account_type === "Enterprise") { %>
        <a class="hidden flex items-center justify-between p-2 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple" href="/plans" style="margin-right: auto; font-size: 0.7rem;">
          <div class="flex items-center">
            <span>&#x1F680; Upgrade to Premium</span>
          </div>
        </a>
        <% } else { %>
        <div class="px-6 my-6">
          <a href="/plans" class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">&#x1F680; Upgrade to Premium</a>
        </div>
        <% } %>
      </div>
    </aside>
    <div x-show="isSideMenuOpen" x-transition:enter="transition ease-in-out duration-150" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in-out duration-150" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"></div>
    <aside class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800 md:hidden" x-show="isSideMenuOpen" x-transition:enter="transition ease-in-out duration-150" x-transition:enter-start="opacity-0 transform -translate-x-20" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in-out duration-150" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0 transform -translate-x-20" @click.away="closeSideMenu" @keydown.escape="closeSideMenu">
      <div class="py-4 text-gray-500 dark:text-gray-400">
        <a class="ml-6 text-lg font-bold text-gray-700 dark:text-gray-200" href="#"><%= web_set.body.header.name %></a>
        <h4 class="text-sm text-gray-700 dark:text-gray-200 font-semibold mt-4 ml-6">Pages</h4>
        <ul class="mt-2">
          <li class="relative px-6 py-3">
            <a href="/" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
              </svg>
              <span class="ml-4">Home</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/dashboard" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
              </svg>
              <span class="ml-4">Dashboard</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a href="/profile" class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100">
              <i class="fa fa-fw fa-user text-gray dark:text-gray-400"></i>
              <span class="ml-4">Profile</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/plans" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-money-check-alt text-gray dark:text-gray-400"></i>
              <span class="ml-4">Plans & Pricing</span>
            </a>
          </li>

          <h4 class="text-sm text-gray-700 dark:text-gray-200 font-semibold mt-2 ml-6">API Features</h4>
          <li class="relative px-6 py-3">
            <a href="/downloader" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-download text-gray dark:text-gray-400"></i>
              <span class="ml-4">Downloader</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/searcher" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-search text-gray dark:text-gray-400"></i>
              <span class="ml-4">Searcher</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/stalker" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-user-check text-gray dark:text-gray-400"></i>
              <span class="ml-4">Stalker</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/artificial-intelligence" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-robot text-gray dark:text-gray-400"></i>
              <span class="ml-4">Artificial Intelligence</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/canvas" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-image text-gray dark:text-gray-400"></i>
              <span class="ml-4">Canvas</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/maker" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-edit text-gray dark:text-gray-400"></i>
              <span class="ml-4">Maker</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/photooxy" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-image text-gray dark:text-gray-400"></i>
              <span class="ml-4">PhotoOxy</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/random-image" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-images text-gray dark:text-gray-400"></i>
              <span class="ml-4">Random Image</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/check-nickname" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-check-circle text-gray dark:text-gray-400"></i>
              <span class="ml-4">Check Nickname</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/url-shortener" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-link text-gray dark:text-gray-400"></i>
              <span class="ml-4">URL Shortener</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/converter" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-sync text-gray dark:text-gray-400"></i>
              <span class="ml-4">Converter</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/tools" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-tools text-gray dark:text-gray-400"></i>
              <span class="ml-4">Tools</span>
            </a>
          </li>
          <li class="relative px-6 py-3">
            <a href="/all-features" class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <i class="fa fa-fw fa-list-alt text-gray dark:text-gray-400"></i>
              <span class="ml-4">All Features</span>
            </a>
          </li>
          <li class="hidden relative px-6 py-3">
            <button class="inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200" @click="togglePagesMenu" aria-haspopup="true">
              <span class="inline-flex items-center">
                <i class="fas fa-download text-lg text-gray dark:text-gray-400"></i>
                <span class="ml-4">Downloader</span>
              </span>
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <template x-if="isPagesMenuOpen">
              <ul x-transition:enter="transition-all ease-in-out duration-300" x-transition:enter-start="opacity-25 max-h-0" x-transition:enter-end="opacity-100 max-h-xl" x-transition:leave="transition-all ease-in-out duration-300" x-transition:leave-start="opacity-100 max-h-xl" x-transition:leave-end="opacity-0 max-h-0" class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900" aria-label="submenu">
                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                  <a href="/api/downloader/youtube-video?video_url=https://youtu.be/rKt_RuVmBkA&api_key=<%= user.api_key %>" class="w-full">YouTube Video</a>
                </li>
                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                  <a href="/api/downloader/youtube-audio?video_url=https://youtu.be/rKt_RuVmBkA&api_key=<%= user.api_key %>" class="w-full">YouTube Audio</a>
                </li>
              </ul>
            </template>
          </li>
        </ul>
        <% if (user.account_type === "Premium" || user.account_type === "Enterprise") { %>
        <a class="hidden flex items-center justify-between p-2 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple" href="/plans" style="margin-right: auto; font-size: 0.7rem;">
          <div class="flex items-center">
            <span>&#x1F680; Upgrade to Premium</span>
          </div>
        </a>
        <% } else { %>
        <div class="px-6 my-6">
          <a href="/plans" class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">&#x1F680; Upgrade to Premium</a>
        </div>
        <% } %>
      </div>
    </aside>
    <div class="flex flex-col flex-1 w-full">
      <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
        <div class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
          <button class="p-1 mr-6 ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
            <i class="fas fa-bars hamburger-icon" x-bind:class="{ 'hidden': isSideMenuOpen }"></i>
            <i class="fas fa-times close-icon" x-bind:class="{ 'hidden': !isSideMenuOpen }"></i>
          </button>
          <% if (user.account_type === "Premium" || user.account_type === "Enterprise") { %>
          <div style="margin-left: auto;">
            <% } else { %>
            <a class="flex items-center justify-between p-2 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple" href="/plans" style="margin-right: auto; font-size: 0.7rem;">
              <div class="flex items-center">
                <span>&#x1F680; Upgrade to Premium</span>
              </div>
            </a>
            <% } %>
            <div class="hidden p-4"></div>
            <!-- Search input -->
            <div class="hidden flex justify-center flex-1 lg:mr-32">
              <div class="relative w-full max-w-xl mr-6 focus-within:text-purple-500">
                <div class="absolute inset-y-0 flex items-center pl-2">
                  <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                  </svg>
                </div>
                <input class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" placeholder="Search for projects" aria-label="Search">
              </div>
            </div>
            <ul class="flex items-center flex-shrink-0 space-x-6">
              <li class="flex">
                <button class="rounded-md focus:outline-none focus:shadow-outline-purple" @click="toggleTheme" aria-label="Toggle color mode">
                  <template x-if="!dark">
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                  </template>
                  <template x-if="dark">
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path>
                    </svg>
                  </template>
                </button>
              </li>
              <li class="relative">
                <button class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple" onclick="alert('Notifications: \nNot found!');" aria-label="Notifications" aria-haspopup="true">
                  <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
                  </svg>
                  <span aria-hidden="true" class="hidden absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"></span>
                </button>
                <button class="hidden relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple" @click="toggleNotificationsMenu" @keydown.escape="closeNotificationsMenu" aria-label="Notifications" aria-haspopup="true">
                  <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
                  </svg>
                  <span aria-hidden="true" class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"></span>
                </button>
                <template class="hidden" x-if="isNotificationsMenuOpen">
                  <ul x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" @click.away="closeNotificationsMenu" @keydown.escape="closeNotificationsMenu" class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700">
                    <li class="flex">
                      <a class="inline-flex items-center justify-between w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200" href="#">
                        <span>Messages</span>
                        <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-600 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-600">
                          13
                        </span>
                      </a>
                    </li>
                    <li class="flex">
                      <a class="inline-flex items-center justify-between w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200" href="#">
                        <span>Sales</span>
                        <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-600 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-600">
                          2
                        </span>
                      </a>
                    </li>
                    <li class="flex">
                      <a class="inline-flex items-center justify-between w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200" href="#">
                        <span>Alerts</span>
                      </a>
                    </li>
                  </ul>
                </template>
              </li>
              <li class="relative">
                <button class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple mr-6 mt-1" onclick="window.location.href = '<%= web_set.body.header.chat_url %>';" aria-label="Notifications" aria-haspopup="true">
                  <i class="fas fa-message w-7 h-7"></i>
                  <span aria-hidden="true" class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"></span>
                </button>
                <button class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple" @click="toggleProfileMenu" @keydown.escape="closeProfileMenu" aria-label="Account" aria-haspopup="true">
                  <i class="fas fa-user w-7 h-7"></i>
                </button>
                <button class="hidden align-middle rounded-full focus:shadow-outline-purple focus:outline-none" @click="toggleProfileMenu" @keydown.escape="closeProfileMenu" aria-label="Account" aria-haspopup="true">
                  <img class="object-cover w-8 h-8 rounded-full" src="https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=aa3a807e1bbdfd4364d1f449eaa96d82" alt="" aria-hidden="true">
                </button>
                <template x-if="isProfileMenuOpen">
                  <ul x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" @click.away="closeProfileMenu" @keydown.escape="closeProfileMenu" class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700" aria-label="submenu">
                    <li class="flex">
                      <a href="/profile" class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200">
                        <svg class="w-4 h-4 mr-3" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                          <path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                        </svg>
                        <span>Profile</span>
                      </a>
                    </li>
                    <li class="flex">
                      <a href="/auth/logout" class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200" href="#">
                        <svg class="w-4 h-4 mr-3" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                          <path d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
                        </svg>
                        <span>Sign Out</span>
                      </a>
                    </li>
                  </ul>
                </template>
              </li>
            </ul>
          </div>
      </header>
      <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid">
          <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Profile
          </h2>

          <% if (advertising_for_free_users) { %>
          <% if (user.account_type === "Free") { %>
          <div align="center" style="margin-bottom: 25px">
            <div data-mndazid="<%= web_set.ads.ads_area.native %>"></div>
          </div>
          <% } else { %>
          <div class="hidden"></div>
          <% } %>
          <% } %>

          <% if (user.account_type === "Premium" || user.account_type === "Enterprise") { %>
          <a class="hidden flex items-center justify-between p-2 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple" href="/plans" style="margin-right: auto; font-size: 0.7rem;">
            <div class="flex items-center">
              <span>&#x1F680; Upgrade to Premium</span>
            </div>
          </a>
          <% } else { %>
          <a class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple" href="/plans">
            <div class="flex items-center">
              <span>&#x1F680; Upgrade to Premium</span>
            </div>
            <span>&RightArrow;</span>
          </a>
          <% } %>

          <div class="mb-8 md:grid-cols-2">
            <div class="p-4 mb-8 bg-white rounded-lg shadow-xs dark:bg-gray-800 h-auto">

              <h1 class="mb-2 font-semibold text-2xl text-gray-600 dark:text-gray-300">
                Information
              </h1>
              <i style="font-size: 5rem;" class="fas fa-user text-gray-600 dark:text-gray-300"></i>
              <p class="mt-4 text-gray-700 dark:text-gray-300">
                Username: @<%= user.username %><br>
                Email address: <%= user.email %><br>
                Account type: <%= user.account_type %><br>
                API key: <%= user.api_key %><br>
                Usage limit: <% if (user.account_type === "Premium" || user.account_type === "Enterprise") { %>
                  ∞<br>
               <% } else { %>
                 <%= user.usage_limit %><br>
               <% } %>
<!--<% if (user.account_type === "Premium" || user.account_type === "Enterprise") { %>
                  <span id="totalDailyRequestCount"><%= dailyRequestCount %></span>/∞<br>
                <% } else if (user.account_type === "Standard") { %>
                  <span id="totalDailyRequestCount"><%= dailyRequestCount %></span>/<%= usage_limit_amount.standard %><br>
                <% } else if (user.account_type === "Basic") { %>
                  <span id="totalDailyRequestCount"><%= dailyRequestCount %></span>/<%= usage_limit_amount.basic %><br>
                <% } else if (user.account_type === "Free") {  %>
                  <span id="totalDailyRequestCount"><%= dailyRequestCount %></span>/<%= usage_limit_amount.free %><br>
                <% } %>
                Request today: <%= dailyRequestCount %><br>
                Request total: <%= totalRequestCount %><br>-->
                Expired date: <% if (user.account_type === "Free") { %>
                -
                <% } else { %>
                <%= user.expired_date %>
                <% } %>
              </p>

            </div>

            <div class="p-4 mb-8 bg-white rounded-lg shadow-xs dark:bg-gray-800 h-auto">
              <h1 class="mb-2 font-semibold text-2xl text-gray-600 dark:text-gray-300">
                Edit profile
              </h1>
              <form action="/profile/update/data" method="post">
                <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-300">Username</span>
                  <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" type="text" value="<%= user.username %>" name="username" placeholder="Your Username" minlength="5" maxlength="50" autocapitalize="none" required>
                </label>
                <label class="mt-4 block text-sm">
                  <span class="text-gray-700 dark:text-gray-300">Email address</span>
                  <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" type="email" value="<%= user.email %>" name="email" placeholder="yourmail@example.com" minlength="5" maxlength="50" required>
                </label>
                <label class="mt-4 block text-sm">
                  <span class="text-gray-700 dark:text-gray-300">New Password</span>
                  <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" type="password" name="password" placeholder="Leave blank to keep the current password" minlength="8" maxlength="20">
                </label>

                <button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                  Submit
                </button>
              </form>

            </div>

            <div class="p-4 mb-8 bg-white rounded-lg shadow-xs dark:bg-gray-800 h-auto">
              <h1 class="mb-2 font-semibold text-2xl text-gray-600 dark:text-gray-300">
                Change API key
              </h1>
              <form action="/profile/update/api-key" method="post">
                <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-300">API key</span>
                  <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" type="text" value="<%= user.api_key %>" name="api_key" placeholder="yourapikey" minlength="4" maxlength="20" autocapitalize="none" required="">
                </label>

                <button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                  Submit
                </button>
              </form>

            </div>

            <div class="p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 h-auto">
              <h1 class="mb-2 font-semibold text-2xl text-gray-600 dark:text-gray-300">
                Delete account
              </h1>

              <form id="deleteAccountForm" action="/profile/delete/account" method="post">
                <button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                  Submit
                </button>
              </form>

            </div>
          </div>
        </div>

        <% if (advertising_for_free_users) { %>
        <% if (user.account_type === "Free") { %>
        <div align="center" style="margin-bottom: 25px">
          <div data-mndazid="<%= web_set.ads.ads_area.native %>"></div>
        </div>
        <% } else { %>
        <div class="hidden"></div>
        <% } %>
        <% } %>

        <footer>
          <div class="p-4 bg-white dark:bg-gray-800">
            <p class="font-semibold text-center text-sm text-gray-600 dark:text-gray-300">Copyright &copy; <%= web_set.body.footer.name %>. All rights reserved.</p>
          </div>
        </footer>
      </main>
    </div>
  </div>

  <script>
    document.getElementById('deleteAccountForm').addEventListener('submit', function(event) {
      const confirmation = confirm('Are you sure you want to delete your account? This action cannot be undone.');

      if (!confirmation) {
        event.preventDefault();
      }
    });
  </script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <script src="/assets/js/init-alpine.js"></script>
  <script src="/assets/js/dashboard.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/poll-data-and-display.js"></script>
</body>

</html>